name: Build HMCL for Akashic MC
# By Myth, created for Akashic MC


on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '00 19 * * *'


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v3
    - name: Checkout submodules
      run: git submodule update --init --recursive

    - name: Set time zone
      run: sudo timedatectl set-timezone 'Asia/Shanghai'

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '11'
        java-package: jdk+fx
    
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew clean build
      env:
        MICROSOFT_AUTH_ID: ${{ secrets.MICROSOFT_AUTH_ID }}
        MICROSOFT_AUTH_SECRET: ${{ secrets.MICROSOFT_AUTH_SECRET }}

    - uses: actions/upload-artifact@v2
      with:
        name: HMCL
        path: HMCL/build/libs