name: Build HMCL for Akashic MC
# By Myth, created for Akashic MC

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'
        java-package: 'jdk+fx'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        cache-cleanup: never
    - name: Build with Gradle
      run: ./gradlew build --no-daemon --parallel
      env:
        MICROSOFT_AUTH_ID: ${{ secrets.MICROSOFT_AUTH_ID }}
        MICROSOFT_AUTH_SECRET: ${{ secrets.MICROSOFT_AUTH_SECRET }}
        CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_KEY }}

    - uses: actions/upload-artifact@v4
      with:
        name: HMCL
        path: HMCL/build/libs